{% extends 'origin.twig' %}

 {% block style %}
     {{ parent() }}
     <link rel="stylesheet" href="../css/list_booking.css">
 {% endblock %}

{% block script %}
    {{ parent() }}
    <script src="../js/utils.js"></script>
{% endblock %}

{% block main %}
    <main>
        <h1>Lista reservas</h1>
        <span class="success">{{ success }}</span>
        <span class="error">{{ error }}</span>


        <div class="filters">
            <div>
                <label for="searcher">Buscar</label>
                <input class="searcher" type="text" name="searcher" id="searcher" oninput="searchBookings()"
                       value="{{ filters.search }}"/>
            </div>
            <div>
                <label for="checkin">Checkin</label>
                <input name="checkin" id="checkin" type="date" onchange="searchBookings()"
                       value="{{ filters.checkin }}"/>
            </div>
            <div>
                <label for="checkout">Checkout</label>
                <input name="checkout" id="checkout" type="date" onchange="searchBookings()"
                       value="{{ filters.checkout }}"/>
            </div>

            <div>
                <label for="orderby">Ordenar por</label>
                <select id="orderby" onchange="searchBookings()">
                    <option value="old" {% if filters.orderby == 'old' %} selected {% endif %}>Antigüedad</option>
                    <option value="day_num" {% if filters.orderby == 'day_num' %} selected {% endif %}>Total de días
                    </option>
                </select>
            </div>

            <div>
                <label for="order">Orden</label>
                <select id="order" onchange="searchBookings()">
                    <option value="asc" {% if filters.order == 'asc' %} selected {% endif %}>Ascendente</option>
                    <option value="desc" {% if filters.order == 'desc' %} selected {% endif %}>Descendente</option>
                </select>
            </div>


            <section></section>
        </div>

        <div class="table_list five_items">
            <div class="element">
                <span class="border odd">Usuario</span>
                <span class="border odd">Habitacion</span>
                <span class="border odd">Checkin</span>
                <span class="border odd">Checkout</span>
                <span class="border odd">Operaciones</span>
            </div>
            <div id="items" class="items container_five five_items">
                {% if bookings|length > 0 %}
                    {% for booking in bookings %}
                        <div id="content" class="element">
                            <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">{{ booking.email }}</span>
                            <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">{{ booking.room_num }}</span>
                            <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">{{ booking.checkin }}</span>
                            <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">{{ booking.checkout }}</span>
                            <div class="operations {{ loop.index % 2 == 0 ? 'odd' : 'even' }}">
                                <img src="../images/edit.png" class="image_button"
                                     alt="icono para editar reserva"
                                     onclick="showElement('{{ booking.comments }}','{{ booking.id }}')"/>

                                <img src="../images/delete.png" class="image_button"
                                     alt="icono para borrar reserva"
                                     onclick="generateDeleteModal('¿Desea eliminar la reserva de la habitación {{ booking.room_num }}?','bookings.php', 'delete', 'Eliminar', {{ booking.id }})"/>
                            </div>

                            <div id="{{ booking.id }}"
                                 class="container container_five  {{ loop.index % 2 == 0 ? 'odd' : 'even' }}">
                                {% if booking.comments != "" %}
                                    <h3>Comentarios</h3>
                                    <p class="comments">{{ booking.comments }}</p>
                                {% else %}
                                    <p>No hay comentarios</p>
                                {% endif %}
                                <div class="modifications" id="hidden_{{ booking.id }}" style="display: none;">
                                    <form action="bookings.php" method="post" novalidate>
                                        <label id="modification_request_text" for="comments">Modificación de
                                            comentario:</label>
                                        <textarea name="comments" class="{{ loop.index % 2 == 0 ? 'even' : 'odd' }}"
                                                  id="comments" cols="30" rows="6">{{ booking.comments }}</textarea>
                                        <input id="hidden_{{ booking.id }}" type="hidden" name="hidden_id"
                                               value="{{ booking.id }}">
                                        <div>
                                            <button type="submit" value="Modificar">Modificar</button>
                                            <button type="button" value="cancelar" onclick="showElement()">Cancelar</button>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>

        <a class="redirection" href="createBooking.php">Crear reserva</a>
    </main>
{% endblock %}