{% extends 'origin.twig' %}

 {% block style %}
     {{ parent() }}
     <link rel="stylesheet" href="../css/lists.css">
 {% endblock %}

    {% block script %}
        {{ parent() }}
        <script src="../js/modal.js"></script>
    {% endblock %}

{% block main %}
    <main>
        <h1>Lista habitaciones</h1>
        <span class="success">{{ success }}</span>
        <span class="error">{{ error }}</span>
        {% if rooms|length > 0 %}
            <div class="table_list {{  user.type == 'recepcionist' ?  'four_items' : 'three_items' }}">
                <div class="element">
                    <span class="border odd">Número</span>
                    <span class="border odd">Precio noche</span>
                    <span class="border odd">Capacidad</span>
                    {% if user.type == 'recepcionist' %}
                        <span class="border {{ loop.index % 2 == 0 ? 'odd' : 'even' }}">operaciones</span>
                    {% endif %}
                </div>
                <div class="items {{  user.type == 'recepcionist' ?  'container_four four_items' : 'container_three three_items' }}">

                    {% for room in rooms %}
                        <div id="content" class="element" onclick="detailsWindow('{{ room.id }}')">
                            <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">{{ room.room_num }}</span>
                            <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">{{ room.price }}€</span>
                            <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">{{ room.capacity }}</span>
                            {% if user.type == 'recepcionist' %}
                                <div class="operations {{ loop.index % 2 == 0 ? 'odd' : 'even' }}">
                                    <a href="createRoom.php?id={{ room.id }}">
                                        <img src="../images/edit.png" class="image_button"
                                             alt="icono para editar habitacion"/>
                                    </a>
                                    <img src="../images/delete.png" class="image_button" alt="icono para borrar habitacion"
                                         onclick="generateDeleteModal('¿Desea eliminar la habitación {{ room.room_num }}?','rooms.php', 'delete', 'Eliminar', {{ room.id }})"/>
                                </div>
                            {% endif %}

                            <div id="{{ room.id }}"
                                    class="container {{  user.type == 'recepcionist' ?  'container_four' : 'container_three' }}  {{ loop.index % 2 == 0 ? 'odd' : 'even' }}">

                                {% if room.images|length > 0 %}
                                    <h2>Fotos de la habitación</h2>
                                    <div class="images">
                                        {% for image in room.images %}
                                            <img src="data:image/jpeg;base64,{{ image.image }}"
                                                 alt="imagen de la habitación">
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <h2>Descripción</h2>
                                <p>{{ room.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
            <button onclick="window.location.href='createRoom.php'">Crear habitación</button>
        {% else %}
            <p class="empty">Actualmente no hay usuarios registrados</p>
        {% endif %}
    </main>
{% endblock %}