{% extends 'origin.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="../css/room_data.css">
    <link rel="stylesheet" href="../css/lists.css">
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="../js/utils.js"></script>
{% endblock %}
{% block main %}
    <main>
        <h1>Crear habitación</h1>

        <form id="room_form" action="room_data.php" method="post" class="form" enctype="multipart/form-data"
              novalidate>
            <label for="number">Número de habitación</label>
            <input type="text" name="number" id="number" value="{{ number }}" {{ readonly }}>
            <span class="error">{{ number_error }}</span>

            <label for="price">Precio por noche</label>
            <input type="number" name="price" id="price" value="{{ price }}" {{ readonly }}>
            <span class="error">{{ price_error }}</span>

            <label for="capacity">Capacidad</label>
            <input type="number" name="capacity" id="capacity" value="{{ capacity }}" {{ readonly }}>
            <span class="error">{{ capacity_error }}</span>

            <label for="description">Descripción</label>
            <textarea name="description" id="description" cols="35"
                      rows="10" {{ readonly }}>{{ description }}</textarea>
            <span class="error">{{ description_error }}</span>
            {% if updating == true %}
                <input type="hidden" name="id" value="{{ id }}">
                <input type="hidden" name="confirm_update">
                <div class="images">
                    {% for image in images %}
                        <div id="{{ image.id }}" class="image_container">
                            <img src="data:image/jpeg;base64,{{ image.image }}" alt="imagen de la habitación">
                            {% if checked == false %} {# Si ya se han verificado los datos a actualizar se borra #}
                                <img src="../images/delete.png" class="image_button danger"
                                     alt="icono para borrar imagen habitación" onclick="deleteImage({{ image.id }})"/>

                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if checked == false %}
                <button type="submit" name="check">Validar datos</button>
            {% else %}
                <label for="images">Imágenes</label>
                <input type="file" name="images[]" id="images" accept="image/*" multiple>
                <span class="success">{{ success }}</span>
                {% if updating is not defined %}
                    <button type="submit" name="create">Crear Habitación</button>
                {% else %}
                    <button type="submit" name="update">Actualizar Habitación</button>
                {% endif %}
            {% endif %}

            <input type="hidden" name="id" value="{{ id }}">
        </form>
    </main>
{% endblock %}