{% extends 'origin.twig' %}

    {% block style %}
        {{ parent() }}
        <link rel="stylesheet" href="../css/users.css">
    {% endblock %}

{% block main %}
    <main>
        <h2>Usuarios</h2>
        <div class="table_list">
            {% if users|length > 0 %}
                <div class="element">
                    <span class="border odd">Nombre</span>
                    <span class="border odd">Apellido</span>
                    <span class="border odd">DNI</span>
                    <span class="border odd">Nº tarjeta</span>
                    <span class="border odd">correo</span>
                    <span class="border odd">tipo</span>
                    <span class="border odd">Operaciones</span>
                </div>

                {% for user in users %}
                    <div class="element">
                        <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">{{ user.name }}</span>
                        <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">{{ user.lastname }}</span>
                        <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">{{ user.dni }}</span>
                        <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">{{ user.email }}</span>
                        <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">{{ user.card }}</span>
                        <span class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">
                            {% if user.type == 'client' %}
                                cliente
                            {% elseif user.type == 'admin' %}
                                administrador
                            {% else %}
                                recepcionista
                            {% endif %}
                        </span>
                        <div class="{{ loop.index % 2 == 0 ? 'odd' : 'even' }}">
                            <a href="createUser.php?id={{ user.id }}">
                                <img src="../images/edit.png" class="image_button" alt="icono para editar usuario"/>
                            </a>
                            <img src="../images/delete.png" class="image_button" alt="icono para borrar usuario"/>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="empty">Actualmente no hay usuarios registrados</p>
            {% endif %}


        </div>
        <p class="success">{{ message }}</p>
    </main>

{% endblock %}